/* You can add global styles to this file, and also import other style files */
.btn{
    border-radius: 0 !important;
}

a{
    cursor: pointer;
}

/* Form Validation CSS */
.form-control.is-invalid:focus, .form-control.is-invalid{
    border-color:  #d3d3d3 !important;
    box-shadow: 0 -2px 0 #ff5252 inset,0 0 0 1px #e0e0e0 inset !important;
}

.form-control.is-valid:focus, .form-control.is-valid{
    border-color:  #d3d3d3 !important;
    box-shadow: 0 -2px 0 #039be5 inset,0 0 0 1px #e0e0e0 inset !important;
}

.form-control:focus {
    border-color:  #d3d3d3 !important;
}

.alert p{
    margin: 0;
    padding: 0;
}
/* Form Validation CSS */

// .flash-message{
//     position: fixed;
//     right: 12px;
//     top: 70px;
//     background: #7FB873 !important;
//     color: #FFF !important;
//     z-index: 9999;
//     padding-top: 30px !important;
//     padding-bottom: 30px !important;
//     font-size: 20px;
// }

#grayOutDiv
{
    background-color: #333;
    opacity: 0.7;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    overflow: hidden;
    z-index: 9999;
}

//use this for gray out
// .flash-message
// {
//     z-index: 10000;
//     position: relative;
//     padding-top: 30px !important;
//     padding-bottom: 30px !important;
//     font-size: 18px;
//     color: #fff !important;
//     background: #7FB873 !important;
// }
.flash-message{
    z-index: 10000;
    position: fixed;
    font-size: 18px;
    color: #fff !important;
    bottom: 12px;
    right: 12px;
    opacity: 0.8;
    margin: 0 0 6px;
    padding: 35px 15px 35px 20px !important;
    width: 400px;
    border-radius: 3px 3px 3px 3px;
}

.alert-success{
    background-color: #51A351 !important;    
    box-shadow: 0 0 12px #999999;     
    border-color: #51A351 !important;   
}

.alert-danger{
    background-color: #BD362F !important;
    box-shadow: 0 0 12px #999999;
    border-color: #BD362F !important;
    // background-image: url('./assets/img/round-error-icon.jpg');
    // background-image: url('./assets/img/error.png');
    // background-position: 0px center;
    // background-repeat: no-repeat;
}